*.DS_Store
*.pyc
*.swp
temp/*
dist/*
build/*
keras/datasets/data/*
keras/datasets/temp/*
docs/site/*
docs/theme/*
docs/sources/*
tags
Keras.egg-info
examples/img/*

# test-related
.coverage
.cache
.pytest_cache

# developer environments
.idea
.vscode
