[MESSAGES CONTROL]

disable=
    abstract-method,
    access-member-before-definition,
    arguments-differ,
    attribute-defined-outside-init,
    bad-continuation,
    bad-option-value,
    bad-whitespace,
    c-extension-no-member,
    design,
    file-ignored,
    fixme,
    global-statement,
    import-error,
    import-outside-toplevel,
    import-self,
    interface-is-not-class,
    invalid-metaclass,
    invalid-name,
    locally-disabled,
    locally-enabled,
    maybe-no-member,
    method-hidden,
    misplaced-comparison-constant,
    missing-interface-method,
    multiple-imports,
    multiple-statements,
    no-else-break,
    no-else-continue,
    no-else-raise,
    no-else-return,
    no-init,
    no-member,
    no-name-in-module,
    no-self-use,
    pointless-except,