pre-commit
namex>=0.0.8
ruff
pytest
numpy
scipy
scikit-learn
pillow
pandas
absl-py
requests
h5py
ml-dtypes
protobuf
tensorboard-plugin-profile
rich
build
optree
pytest-cov
packaging
# for tree_test.py
dm_tree
coverage
# for onnx_test.py
onnxruntime
# https://github.com/keras-team/keras/issues/21390
# onnxscript==0.3.2 breaks LSTM model export.
onnxscript!=0.3.2
openvino
grain
# for orbax_checkpoint_test.py
orbax-checkpoint
