# Tensorflow with cuda support.
tensorflow[and-cuda]~=2.18.1
tf2onnx

# Torch cpu-only version (needed for testing).
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0

# Jax cpu-only version (needed for testing).
jax[cpu]

-r requirements-common.txt
