# Tensorflow cpu-only version (needed for testing).
tensorflow-cpu~=2.16.2  # Pin to TF 2.16

# Torch with cuda support.
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.1+cu121
torchvision==0.18.1+cu121

# Jax cpu-only version (needed for testing).
jax[cpu]

-r requirements-common.txt
