--find-links https://storage.googleapis.com/libtpu-tf-releases/index.html
tensorflow-tpu==2.19.1

tf2onnx

# Torch cpu-only version (needed for testing).
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0

# Jax cpu-only version (needed for testing).
jax

-r requirements-common.txt
