# Tensorflow.
tensorflow-cpu~=2.18.0;sys_platform != 'darwin'
tensorflow~=2.18.0;sys_platform == 'darwin'
tf_keras
tf2onnx

# Torch.
# - torch is pinned to a version that is compatible with torch-xla
# - torch-xla is pinned to a version that supports GPU (2.6 doesn't)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1
torchvision==0.20.1
torch-xla==2.5.1;sys_platform != 'darwin'

# Jax.
jax[cpu]
flax

# Common deps.
-r requirements-common.txt
