namex>=0.0.8
ruff
pytest
numpy
scipy
pandas
absl-py
requests
h5py
ml-dtypes
protobuf
google
tensorboard-plugin-profile
rich
build
optree
pytest-cov
packaging
# for tree_test.py
dm_tree
# TODO: Don't pin coverage version. Higher version causes issues:
# https://github.com/nedbat/coveragepy/issues/1891
coverage==7.6.1
