# Tensorflow with cuda support.
tensorflow[and-cuda]
tf2onnx

# Torch cpu-only version (needed for testing).
--extra-index-url https://download.pytorch.org/whl/cpu
torch

# Jax cpu-only version (needed for testing).
jax[cpu]

-r requirements-common.txt
