# Tensorflow cpu-only version (needed for testing).
tensorflow-cpu~=2.18.0
tf2onnx

# Torch cpu-only version (needed for testing).
# - torch is pinned to a version that is compatible with torch-xla
# - torch-xla is pinned to a version that supports GPU (2.6 doesn't)
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
torchvision==0.20.1+cpu
torch-xla==2.5.1;sys_platform != 'darwin'

# Jax with cuda support.
--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12]==0.4.28
flax

-r requirements-common.txt
