# Tensorflow cpu-only version (needed for testing).
tensorflow-cpu~=2.18.0
tf2onnx

# Torch with cuda support.
# - torch is pinned to a version that is compatible with torch-xla
# - torch-xla is pinned to a version that supports GPU (2.6 doesn't)
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torch-xla==2.5.1;sys_platform != 'darwin'

# Jax cpu-only version (needed for testing).
jax[cpu]

-r requirements-common.txt
