# Tensorflow cpu-only version (needed for testing).
tensorflow-cpu
tf2onnx

# Torch cpu-only version (needed for testing).
--extra-index-url https://download.pytorch.org/whl/cpu
torch

# Jax with cuda support.
--find-links https://storage.googleapis.com/jax-releases/libtpu_releases.html
jax[tpu]
flax

-r requirements-common.txt
