name: auto-assignment
on:
  issues:
    types:
      - opened

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/github-script@v8
        with:
          script: |
            const script = require('./\.github/workflows/scripts/auto-assignment.js')
            script({github, context})