name: Keras Tests on TPU Runner using JAX Backend

on:
  push:
    branches: [ master ]
  workflow_call:
  pull_request:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  test-in-container:
    name: Run Keras tests on TPU runner using JAX Backend
    runs-on: linux-x86-ct6e-44-1tpu

    strategy:
      fail-fast: false
      matrix:
        backend: [jax]

    container:
      image: python:3.10-slim
      options: --privileged --network host

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Install Dependencies
        run: |
          pip install --no-cache-dir -r requirements-${{ matrix.backend }}-tpu.txt \
      
      - name: Set Keras Backend
        run: echo "KERAS_BACKEND=jax" >> $GITHUB_ENV

      - name: Run Verification and Tests
        run: |
          echo "Successfully running inside the public python container!"
          echo "Verifying JAX installation..."
          python3 -c "import jax; print(f'JAX backend: {jax.default_backend()}'); print(f'JAX device Type : {jax.devices()[0].device_kind}')"

          pytest keras --ignore keras/src/applications \
                      --cov=keras \
                      --cov-config=pyproject.toml
